

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
font-family: 'AdihausDIN-Regular',sans-serif;
}

.foot a{
    font-size: 14px;
}

.adizerobuttons{
    button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    }
}